Repository Kuechlin/mantine-data-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: docs added
  docs/components/Demo.tsx
  docs/components/Properties.tsx
  docs/components/Styles.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

new: on row click callback
  docs/components/Navbar.tsx
  docs/components/examples/OnRowClickExample.tsx
  docs/pages/Routes.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

v0.0.10
  .github/workflows/github-actions-pages.yml
  .github/workflows/github-actions-publish.yml
  .prettierignore
  docs/components/Properties.tsx
  docs/components/examples/OnRowClickExample.tsx
  package.json
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: add new iconColor props
  docs/pages/Demo.tsx
  docs/pages/GettingStarted.tsx
  docs/pages/Properties.tsx
  docs/pages/Routes.tsx
  docs/pages/Styles.tsx
  docs/pages/examples/AsyncExample.tsx
  docs/pages/examples/CustomFilterExample.tsx
  docs/pages/examples/InitialStateExample.tsx
  docs/pages/examples/MainExample.tsx
  docs/pages/examples/OnRowClickExample.tsx
  src/ColumnFilter.tsx
  src/ColumnSorter.tsx
  src/DataGrid.tsx
  src/Pagination.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: headerFixed to withFixedHeader in state obj
  docs/components/Demo.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

chore: add issue + pr tempalte
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: prettier --write

chore: provide demo link on pr
  .github/pull_request_template.md
Due: prettier --write

feat: default iconColor changed to primaryColor
  docs/pages/Demo.tsx
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: initial state example column filter example added
  docs/pages/examples/InitialStateExample.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: onRow and onCell callback added can be used to apply additional props to row and cell
  docs/pages/Properties.tsx
  docs/pages/examples/OnRowClickExample.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: publish action
  .github/workflows/github-actions-publish.yml
Due: none

v0.0.11
  package.json
Due: prettier --write

feat:added toggle types
  docs/components/Demo.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

initialize theme object
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: added toggle columns popover
  src/DataGrid.tsx
  src/ToggleColumns.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: filter customisation
  docs/components/Navbar.tsx
  docs/components/PropertyTable.tsx
  docs/pages/Demo.tsx
  docs/pages/Filters.tsx
  docs/pages/Properties.tsx
  docs/pages/Routes.tsx
  docs/pages/examples/FiltersExample.tsx
  src/GlobalFilter.tsx
  src/filters/booleanFilter.tsx
  src/filters/dateFilter.tsx
  src/filters/index.ts
  src/filters/numberFilter.tsx
  src/filters/stringFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: custom emplty data element
  docs/components/Navbar.tsx
  docs/pages/Properties.tsx
  docs/pages/Routes.tsx
  docs/pages/examples/EmptyExample.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

v0.0.12
  .github/workflows/github-actions-publish.yml
  package.json
Due: prettier --write

fix: github action
  .github/workflows/github-actions-publish.yml
  .npmrc
Due: none

fix(pagination): set static size to match page size select
  src/Pagination.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: can control state
  docs/components/Navbar.tsx
  docs/components/examples/StateExample.tsx
  docs/pages/Routes.tsx
  package-lock.json
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: page count with filtered data
  docs/pages/examples/AsyncExample.tsx
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: state prop added
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: docs state example added
  docs/App.tsx
  docs/components/Navbar.tsx
  docs/components/PropertyTable.tsx
  docs/pages/Properties.tsx
  docs/pages/Routes.tsx
  docs/pages/examples/DefaultExample.tsx
  docs/pages/examples/StateExample.tsx
  docs/pages/examples/index.ts
  docs/pages/index.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: column filter dropdown portal
  src/ColumnFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: set table with to total size
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: flex layout added
  docs/App.tsx
  docs/components/See.tsx
  docs/pages/Demo.tsx
  docs/pages/Properties.tsx
  docs/pages/Styles.tsx
  docs/pages/examples/CustomFilterExample.tsx
  docs/pages/examples/DefaultExample.tsx
  docs/pages/examples/StylesExample.tsx
  docs/pages/examples/index.ts
  src/DataGrid.styles.ts
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

refactor: removed deprecated props - initialPageIndex - initialPageSize can be implemented with initialState.
  docs/pages/Properties.tsx
  docs/pages/examples/InitialStateExample.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

docs: inital page size removed
  docs/pages/Demo.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

Path conditions:
  prettier --write: (any of: *.{css,scss,json,md,html}) or (any of: *.{js,ts,tsx})
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,ts,tsx}
