Repository Kuechlin/mantine-data-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": ["prettier --write"],
  "*.{js,ts,tsx}": ["prettier --write", "eslint --ignore-path .gitignore --quiet --fix"]
}

refactor: data cell & header cell warpper removed
  src/DataGrid.styles.ts
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: minSize & maxSize
  docs/pages/Demo.tsx
  src/DataGrid.tsx
  src/RowSelection.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: row expanding
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

docs: docs updated
  docs/pages/Demo.tsx
  docs/pages/Properties.tsx
  docs/pages/Styles.tsx
  docs/pages/examples/ExternalFilterExample.tsx
  docs/pages/examples/FiltersExample.tsx
  docs/pages/examples/LocaleExample.tsx
  docs/pages/examples/RowExpandingExample.tsx
  docs/pages/examples/index.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: version update
  README.md
  package.json
Due: prettier --write

fix: dayjs importing for nextjs
  src/filters/dateFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

Update package.json
  package.json
Due: prettier --write

docs: next js example added
  examples/next-app/.gitignore
  examples/next-app/README.md
  examples/next-app/next.config.js
  examples/next-app/package.json
  examples/next-app/pnpm-lock.yaml
  examples/next-app/src/data/demoData.ts
  examples/next-app/src/pages/_app.tsx
  examples/next-app/src/pages/_document.tsx
  examples/next-app/src/pages/index.tsx
  examples/next-app/tsconfig.json
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: close filterpopup on outside click #137
  src/ColumnFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: updating selection state from outside #144
  docs/pages/examples/RowSelectionExample.tsx
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

chore: update @mantine/core
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: center empty table element #146
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

v0.1.2
  package.json
Due: prettier --write

fix: single row selections
  docs/pages/examples/SingleRowSelectionExample.tsx
  docs/pages/examples/index.ts
  src/DataGrid.styles.ts
  src/RowSelection.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: createOperatorFilter import
  src/filters/index.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

Deploying to gh-pages from @ Kuechlin/mantine-data-grid@193315f9c2b15aeb140887554438e03cfe202bc2 🚀
  assets/index-71499c8c.js
  assets/index-7aca7f50.js
  index.html
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: broaden dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

update version
  package.json
Due: prettier --write

Update Mantine packages to 6.0 and update all other dependencies
  package.json
  pnpm-lock.yaml
  src/ColumnFilter.tsx
  src/Pagination.tsx
  src/filters/booleanFilter.tsx
  src/filters/dateFilter.tsx
  src/filters/numberFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

Deploying to gh-pages from @ Kuechlin/mantine-data-grid@9bbf55ff9725c5f6fa1d1e089d46a68338928941 🚀
  assets/index-25972c3a.js
  assets/index-71499c8c.js
  index.html
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: pagination was not being applied
  package-lock.json
  package.json
  src/DataGrid.styles.ts
  src/Pagination.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix lock file
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ Kuechlin/mantine-data-grid@30fb810d29f8c830c4c1c1f0ac0ecbb058e3c5a4 🚀
  assets/index-25972c3a.js
  assets/index-4ced89a3.js
  index.html
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: global filter now allow to search inside react elements
  package.json
  pnpm-lock.yaml
  src/GlobalFilter.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: pnpm lock
  pnpm-lock.yaml
Due: none

fix: mantine as peer dependency #169
  package.json
  pnpm-lock.yaml
  src/ColumnFilter.tsx
  src/ColumnSorter.tsx
  src/DataGrid.tsx
  src/GlobalFilter.tsx
  src/filters/dateFilter.tsx
  src/filters/numberFilter.tsx
  src/filters/stringFilter.tsx
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: global filter on nested data #58
  docs/components/CodeDemo.tsx
  docs/components/Header.tsx
  docs/pages/examples/AsyncExample.tsx
  docs/pages/examples/ColumnDragDropExample.tsx
  docs/pages/examples/NestedExample.tsx
  docs/pages/examples/index.ts
  docs/pages/index.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: visual bug with row selection #155
  docs/pages/examples/OnRowExample.tsx
  src/RowSelection.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

fix: updating filters state from outside #157
  docs/pages/examples/ResetFilterExample.tsx
  docs/pages/examples/index.ts
  src/DataGrid.tsx
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

feat: add overrides for filter and sorter #154
  src/ColumnFilter.tsx
  src/ColumnSorter.tsx
  src/DataGrid.tsx
  src/types.ts
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix

v0.2.2
  package.json
Due: prettier --write

Update github-actions-pages.yml
  .github/workflows/github-actions-pages.yml
Due: none

fix: lock file
  .github/workflows/github-actions-pages.yml
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ Kuechlin/mantine-data-grid@51cbe8cf9e4c53161159c0bb0c608aaf9abe5e2a 🚀
  assets/index-4ced89a3.js
  assets/index-be537e14.js
  index.html
Due: prettier --write, eslint --ignore-path .gitignore --quiet --fix
